
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";


$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$toolbar-background:color($colors,danger);
$toolbar-border-color:color($colors,primary);
$toolbar-ios-height:120px;
$toolbar-md-height:120px;

@import "ionic.theme.default";


// Ionicons

@import "ionic.ionicons";


// Fonts

@import "roboto";
@import "noto-sans";
